<xs-shared-bg-title
  [title]="title | translate"
  [subtitle]="subtitle | translate"
  [bgUrl]="bgUrl"
></xs-shared-bg-title>
<div class="max-w-[800px] mt-24 mx-auto font-sans max-h-[80vh]">
  <div class="flex flex-col gap-5">
    @for (t of teachers; track t.name) {
      <p-card
        class="transform transition-all duration-300 hover:shadow-xl hover:bg-gray-100 hover:-translate-y-2"
        pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-r-20 animate-duration-2000">
        <div class="flex items-start gap-4 p-4">
          <p-image
            [src]="t.badge"
            alt="university badge"
            class="w-[60px] h-[60px] object-contain" />
          <div>
            <h3 class="m-0 mb-1 text-xl font-semibold">{{t.name}}</h3>
            @for (line of t.details; track line) {
              <p class="m-0 mb-1 text-sm text-gray-600">{{line}}</p>
            }
          </div>
        </div>
      </p-card>
    }
  </div>
</div>
