<xs-shared-bg-title
  [title]="title | translate"
  [subtitle]="subtitle | translate"
  [bgUrl]="bgUrl">
</xs-shared-bg-title>

<main
  class="max-w-6xl mx-auto px-4 py-16 animate-enter fade-in-10 animate-duration-2000">
  <section class="mb-12">
    <h2 class="text-4xl font-bold text-center mb-8">
      <span class="p-text-title">{{'header.aboutUs' | translate }}</span>
    </h2>
    <div class="p-text-normal">
      <p class="mb-4">
        {{'aboutUs.intro1' | translate }}
      </p>
      <p>
        {{ 'aboutUs.intro2' | translate }}
      </p>
    </div>
  </section>

  <section class="mb-12">
    <h2 class="text-4xl font-bold text-center mb-8">
      <span class="p-text-title">{{'aboutUs.highlights' | translate}}</span>
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      @for (feature of features; track feature.title) {
        <p-card
          styleClass="text-center transform transition-all duration-300 hover:-translate-y-2">
          <ng-template #header>
            <img
              [src]="feature.image"
              [alt]="feature.title"
              class="mx-auto w-24 h-24 mb-4" />
          </ng-template>
          <h3 class="text-xl font-semibold mb-3">
            <span class="p-text-secondary">{{ feature.title | translate}}</span>
          </h3>
          <p class="p-text-normal">{{ feature.description ?? '' | translate }}</p>
        </p-card>
      }
    </div>
  </section>

  <section class="mb-12">
    <h2 class="text-4xl font-bold text-center mb-8">
      <span class="p-text-title">{{ 'aboutUs.idealStudent' | translate }}</span>
    </h2>
    <p class="p-text-normal text-center">
      {{'aboutUs.idealStudentDesc' | translate }}
    </p>
  </section>
</main>
