<section id="services" class="py-16 px-4 h-100vh">
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-8 max-w-8xl mx-auto">
    @for(service of services; track service.title) {
        <p-card
          class="transform transition-all duration-300 w-full h-full hover:shadow-xl hover:bg-gray-100 hover:-translate-y-2"
          pAnimateOnScroll
          enterClass="animate-enter fade-in-10 slide-in-from-b-20 animate-duration-2000"
        >
          <ng-template #header>
            <img alt="Card" class="w-full h-48 object-cover" src="{{ service.image }}" />
          </ng-template>
          <ng-template #title>
            <span class="text-xl font-bold w-full flex justify-center text-center">{{ service.title }}</span>
          </ng-template>
          <p class="text-gray-600 leading-relaxed flex justify-center text-center truncate">{{ service.description }}</p>
        </p-card>

    }
  </div>
  <div class="h-32"></div>
</section>
