<div class="prose">
  <h1 class="text-2xl font-bold mb-4">2025年牛剑冲刺营</h1>

  <h2 class="text-xl font-semibold mt-6 mb-2">集训营概述</h2>
  <p>
    本集训营旨在帮助有志于申请牛津、剑桥及帝国理工的学生高效学习和提升学术能力。
    通过精细化的课程安排和高频测试，确保学生能够最大程度地提升自己的学术水平，并为未来的申请打下坚实的基础。
    所有课程均为全英文授课。师资为全牛剑本硕（物理工程组,生物组为牛剑本硕博）老师，均以高标准要求：三年及以上教龄，有牛剑成功学生经验，
    有独立编写整合知识教案能力，全英文大班授课能力，授课具有一定的幽默感，逻辑清晰，具有较强的教学兴趣和责任感。
  </p>

  <h2 class="text-xl font-semibold mt-6 mb-2">牛剑冲刺营简介</h2>
  <p>
    牛剑冲刺营专为高二升高三、有志于申请牛津、剑桥及帝国理工的学生设计。课程旨在帮助学生在短时间内高效掌握考试关键知识点，并提升笔面试应试能力。
  </p>

  <h2 class="text-xl font-semibold mt-6 mb-2">适应人群</h2>
  <ul class="list-disc pl-6">
    <li>高二升高三的学生</li>
    <li>计划申请牛津、剑桥及帝国理工的学生</li>
  </ul>

  <h2 class="text-xl font-semibold mt-6 mb-2">课程安排</h2>
  <ul class="list-disc pl-6">
    <li>开课时间：2025.7.9 - 2025.7.23</li>
    <li>上午：系统性授课（覆盖牛剑笔面试必修重难点）</li>
    <li>下午：练习与测试</li>
    <li>每两日进行一次考试，确保学习效果</li>
  </ul>

  <h2 class="text-xl font-semibold mt-6 mb-2">目标</h2>
  <ul class="list-disc pl-6">
    <li>在15天内高效完成牛剑考试必修知识的梳理与强化</li>
    <li>通过高频测试提升学生应试能力</li>
    <li>学生出营之后应只针对做适应性训练</li>
  </ul>

  <section>
    <h2 class="text-xl font-semibold mt-6 mb-2">课表安排</h2>
    <div class="mb-4">
      <h3 class="text-l font-semibold mb-2">理工材料</h3>
      <table class="table-auto w-full border border-collapse mb-3">
        <thead class="border">
          <tr>
            <td class="border px-4 text-center">天数</td>
            <td class="border text-center">主题</td>
            <td class="border text-center">课程内容</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border px-4 text-center">1</td>
            <td class="border text-center">通用</td>
            <td class="border text-center">
              量纲分析（Dimensional Analysis）**
            </td>
          </tr>
          <tr>
            <td class="border px-4 text-center">2</td>
            <td class="border text-center">力学</td>
            <td class="border text-center">
              惯性/非惯性参考系**，牛顿力学介绍
            </td>
          </tr>
          <tr>
            <td class="border px-4 text-center">3</td>
            <td class="border text-center">运动学</td>
            <td class="border text-center">抛体运动、圆周运动、简谐运动</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">4</td>
            <td class="border text-center">数学</td>
            <td class="border text-center">泰勒展开，高级微积分*</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">5</td>
            <td class="border text-center">力学</td>
            <td class="border text-center">保守力与能量</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">6</td>
            <td class="border text-center">力学</td>
            <td class="border text-center">动量与质心</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">7</td>
            <td class="border text-center">力学</td>
            <td class="border text-center">刚体旋转运动学与动力学**</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">8</td>
            <td class="border text-center">力学</td>
            <td class="border text-center">流体力学</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">9</td>
            <td class="border text-center">数学/力学</td>
            <td class="border text-center">
              二阶微分方程**，火箭问题**，阻尼振荡**
            </td>
          </tr>
          <tr>
            <td class="border px-4 text-center">10</td>
            <td class="border text-center">数学/力学</td>
            <td class="border text-center">弦**、波**、偏导数、波函数**</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">11</td>
            <td class="border text-center">光学</td>
            <td class="border text-center">反射、折射、衍射，全内反射**</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">12</td>
            <td class="border text-center">电学</td>
            <td class="border text-center">电路分析，特殊电路**，电容器*</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">13</td>
            <td class="border text-center">量子与粒子物理</td>
            <td class="border text-center">
              粒子物理简介*，核聚变/裂变*，半衰期*
            </td>
          </tr>
          <tr>
            <td class="border px-4 text-center">14</td>
            <td class="border text-center">热力学</td>
            <td class="border text-center">热效应与热力学简介</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">15</td>
            <td class="border text-center">大学导论</td>
            <td class="border text-center">物理、工程与材料科学导论**</td>
          </tr>
        </tbody>
      </table>
      <p class="mb-2"><strong>标注说明：</strong></p>
      <ul class="list-disc px-8">
        <li>
          **表示该内容不包含在 A-Level/IB/AP 课程大纲中，但可能在
          Oxbridge（牛剑）能力测试或面试中有所提及或暗示
        </li>
        <li>*表示该内容将在 13 年级涉及</li>
        <li>
          尽管部分内容与 A-Level/IB/AP
          课程重复，但我们将以不同的深度和难度进行讲解，确保符合 Oxbridge
          的要求。
        </li>
      </ul>
      <p class="mb-2"><strong>注意事项：</strong></p>
      <ul class="list-disc px-8">
        <li>本次夏令营的核心目标是帮助学生构建物理知识体系。</li>
        <li>
          学生不应在夏令营结束后继续学习新知识，而是应该专注于练习和模拟考试（ESAT/PAT）。
        </li>
        <li>
          后续课程将在夏令营之后推出，主要围绕 Oxbridge
          的能力测试和面试进行深入探讨
        </li>
      </ul>
    </div>
  </section>

  <section>
    <div class="mb-4">
      <h3 class="text-l font-semibold mb-2">化学组</h3>
      <table class="table-auto w-full border border-collapse mb-3">
        <thead class="border">
          <tr>
            <td class="border px-4 text-center">天数</td>
            <td class="border text-center">主题</td>
            <td class="border text-center">内容</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border px-4 text-center">1</td>
            <td class="border text-center">无机化学</td>
            <td class="border text-center">原子轨道；电离能；化学键；VSEPR</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">2</td>
            <td class="border text-center">无机化学</td>
            <td class="border text-center">
              价键理论；分子轨道理论**；杂化轨道
            </td>
          </tr>
          <tr>
            <td class="border px-4 text-center">3</td>
            <td class="border text-center">数学</td>
            <td class="border text-center">图像绘制技巧 + 偏导数**</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">4</td>
            <td class="border text-center">物理化学</td>
            <td class="border text-center">热力学 *</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">5</td>
            <td class="border text-center">物理化学</td>
            <td class="border text-center">酸碱 *</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">6</td>
            <td class="border text-center">物理化学</td>
            <td class="border text-center">化学平衡</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">7</td>
            <td class="border text-center">物理化学</td>
            <td class="border text-center">反应动力学</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">8</td>
            <td class="border text-center">物理化学</td>
            <td class="border text-center">电化学与氧化还原 *</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">9</td>
            <td class="border text-center">有机化学</td>
            <td class="border text-center">酸碱 *；命名</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">10</td>
            <td class="border text-center">有机化学</td>
            <td class="border text-center">立体化学</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">11</td>
            <td class="border text-center">有机化学</td>
            <td class="border text-center">一般机理及饱和碳原子上的亲核取代</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">12</td>
            <td class="border text-center">有机化学</td>
            <td class="border text-center">HSAB**；消除反应</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">13</td>
            <td class="border text-center">有机化学</td>
            <td class="border text-center">烯烃的反应</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">14</td>
            <td class="border text-center">有机化学</td>
            <td class="border text-center">芳香体系 *</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">15</td>
            <td class="border text-center">有机化学</td>
            <td class="border text-center">羰基化合物反应 **</td>
          </tr>
        </tbody>
      </table>
      <p class="mb-2"><strong>标注说明：</strong></p>
      <ul class="list-disc px-8">
        <li>**表示该内容完全不包含在 A-Level 化学课程中。</li>
        <li>
          *表示该内容在 A2（或 IB 第二年）化学中涉及基础知识，并提升至大学水平。
        </li>
        <li>
          其余内容虽与 A-Level/IB 化学有一定重叠，但仍包含大量大学水平的知识。
        </li>
      </ul>
      <p class="mb-2"><strong>注意事项：</strong></p>
      <ul class="list-disc px-8">
        <li>建议学生先预习标注 * 的主题，以对相关内容有基本了解。</li>
        <li>
          特别提醒：本计划不涉及过渡金属部分，因为该部分在面试中完全基于 A2
          化学知识。请提前做好准备。本内容将在 7 月开始的后续牛剑课程中介绍。
        </li>
        <li>
          如果时间允许，会额外介绍‘Unit
          Cell’相关内容。此主题在面试问题中较少涉及，但在
          A-Level（IB）课程中完全未覆盖。请确保在面试前掌握基本概念。
        </li>
      </ul>
    </div>
  </section>

  <section>
    <div class="mb-4">
      <h3 class="text-l font-semibold mb-2">生物组</h3>
      <table class="table-auto w-full border border-collapse mb-3">
        <thead class="border">
          <tr>
            <td class="border px-4 text-center">天数</td>
            <td class="border text-center">课程</td>
            <td class="border text-center">内容</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border px-4 text-center">1</td>
            <td class="border text-center">细胞分裂与性别决定（ESAT）</td>
            <td class="border text-center">
              有丝分裂、减数分裂、有性生殖、家谱分析
            </td>
          </tr>
          <tr>
            <td class="border px-4 text-center">2</td>
            <td class="border text-center">细胞生物学导论（ESAT）</td>
            <td class="border text-center">细胞器及其结构如何促进功能</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">3</td>
            <td class="border text-center">细胞生物学导论（大学水平）</td>
            <td class="border text-center">细胞如何维持 9 种基本活动</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">4</td>
            <td class="border text-center">细胞信号传导 Part 1（大学水平）</td>
            <td class="border text-center">重要受体及其激活与失活机制</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">5</td>
            <td class="border text-center">细胞信号传导 Part 2（大学水平）</td>
            <td class="border text-center">
              细胞信号传导通路的工作机制及其与生物行为的联系
            </td>
          </tr>
          <tr>
            <td class="border px-4 text-center">6</td>
            <td class="border text-center">生物大分子 1（ESAT）</td>
            <td class="border text-center">关键生物分子及其结构特征</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">7</td>
            <td class="border text-center">生物大分子 2（大学水平）</td>
            <td class="border text-center">结构与功能的关系</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">8</td>
            <td class="border text-center">酶动力学（ESAT 至大学水平）</td>
            <td class="border text-center">
              酶的工作原理？酶促作用的理论、如何研究酶动力学、如何表征酶的行为
            </td>
          </tr>
          <tr>
            <td class="border px-4 text-center">9</td>
            <td class="border text-center">中心法则 1（大学水平）</td>
            <td class="border text-center">原核和真核生物的转录和翻译机制</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">10</td>
            <td class="border text-center">中心法则 2（大学水平）</td>
            <td class="border text-center">
              原核与真核生物在转录和翻译方面的异同、基因表达如何影响生物表型及疾病
            </td>
          </tr>
          <tr>
            <td class="border px-4 text-center">11</td>
            <td class="border text-center">孟德尔遗传学（ESAT 至大学水平）</td>
            <td class="border text-center">
              孟德尔遗传理论及不符合经典遗传规律的特殊案例
            </td>
          </tr>
          <tr>
            <td class="border px-4 text-center">12</td>
            <td class="border text-center">进化（ESAT 至大学水平）</td>
            <td class="border text-center">
              自然选择如何为进化提供机制、基因漂变如何破坏遗传平衡、自然选择如何导致适应
            </td>
          </tr>
          <tr>
            <td class="border px-4 text-center">13</td>
            <td class="border text-center">植物科学（ESAT 至大学水平）</td>
            <td class="border text-center">
              植物的结构组织、水分运输、植物的特殊适应性、共生关系
            </td>
          </tr>
          <tr>
            <td class="border px-4 text-center">14</td>
            <td class="border text-center">
              论文讨论会 CRISPR Cas9 论文 &amp; 剑桥面试实验设计（大学水平）
            </td>
            <td class="border text-center">
              2018 年《生物化学分子生物学教育》— Thurtle-Schmidt 的 CRISPR CAS9
              基因综述，实验面试题型解析
            </td>
          </tr>
          <tr>
            <td class="border px-4 text-center">15</td>
            <td class="border text-center">基因技术（ESAT）</td>
            <td class="border text-center">
              发酵、基因工程、PCR、凝胶电泳、DNA 指纹图谱
            </td>
          </tr>
        </tbody>
      </table>
      <p class="mb-2"><strong>注意事项：</strong></p>
      <ul class="list-disc px-8">
        <li>课程大纲主要基于 ESAT 课程，涵盖生物学的宏观与微观领域。</li>
        <li>学生需熟悉 AS 生物学，建议在暑期班前进行简要复习。</li>
        <li>
          尽管部分概念可能较为熟悉，本课程将从研究生物学角度提供全新视角。
        </li>
        <li>课程不涉及实验操作，但会介绍部分实验规格和技术。</li>
      </ul>
    </div>
  </section>

  <section>
    <div class="mb-4">
      <h3 class="text-l font-semibold mb-2">数学组</h3>
      <table class="table-auto w-full border border-collapse mb-3">
        <thead class="border">
          <tr>
            <td class="border px-4 text-center">天数</td>
            <td class="border text-center">主题</td>
            <td class="border text-center">课程内容</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border px-4 text-center">1</td>
            <td class="border text-center">通用</td>
            <td class="border text-center">集合与逻辑学**</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">2</td>
            <td class="border text-center">通用</td>
            <td class="border text-center">函数与复数**</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">3</td>
            <td class="border text-center">通用</td>
            <td class="border text-center">数论内容**</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">4</td>
            <td class="border text-center">通用</td>
            <td class="border text-center">反三角函数与双曲函数*</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">5</td>
            <td class="border text-center">微积分</td>
            <td class="border text-center">积分技巧**</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">6</td>
            <td class="border text-center">微积分</td>
            <td class="border text-center">微分方程**</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">7</td>
            <td class="border text-center">微积分</td>
            <td class="border text-center">更多技巧和多元微积分导论*</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">8</td>
            <td class="border text-center">几何</td>
            <td class="border text-center">极坐标，柱坐标与球坐标**</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">9</td>
            <td class="border text-center">几何</td>
            <td class="border text-center">函数图像绘制</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">10</td>
            <td class="border text-center">代数</td>
            <td class="border text-center">矩阵与线性变换**</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">11</td>
            <td class="border text-center">代数</td>
            <td class="border text-center">多项式的根*</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">12</td>
            <td class="border text-center">代数</td>
            <td class="border text-center">抽象代数导论**</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">13</td>
            <td class="border text-center">数学分析</td>
            <td class="border text-center">序列和数列**</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">14</td>
            <td class="border text-center">数学分析</td>
            <td class="border text-center">数列收敛性**</td>
          </tr>
          <tr>
            <td class="border px-4 text-center">15</td>
            <td class="border text-center">大学导论</td>
            <td class="border text-center">
              数学、统计学、计算机科学、哲学及工业应用导论
            </td>
          </tr>
        </tbody>
      </table>
      <p class="mb-2"><strong>标注说明：</strong></p>
      <ul class="list-disc px-8">
        <li>
          ** 标记了 AL/IB/AP
          课程大纲中没有的内容，但是在牛剑笔试或面试中提到或会需要。
        </li>
        <li>
          标记*超出了12 年级知识范围，但 13
          年级会涉及的内容。我们决定提前教授这些内容，以便进一步练习。
        </li>
        <li>
          有些内容会与 AL/IB/AP
          重复，但此次夏令营会以不同的级别和难度介绍它们。级别和难度将符合牛津剑桥的要求。
        </li>
      </ul>
      <p class="mb-2"><strong>注意事项：</strong></p>
      <ul class="list-disc px-8">
        <li>
          本次夏令营的重点是整理学生的知识结构。夏令营结束后，学生不应专注于学习新知识。相反，夏令营结束后，学生可以继续进行
          MAT/STEP的练习和模拟考试。
        </li>
      </ul>
    </div>
  </section>

  <section>
    <div class="mb-4">
      <h3 class="text-l font-semibold mb-2">经济组</h3>
      <table class="table-auto w-full border border-collapse mb-3">
        <thead class="border">
          <tr>
            <td class="border px-4 text-center">Dates</td>
            <td class="border text-center">课程目标</td>
            <td class="border text-center">课程内容</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border px-4">Day 1 上午</td>
            <td class="border text-center" rowspan="6">
              TMUA数学基础 - 政治经济学 - 计量经济学 ⼊门
            </td>
            <td class="border">
              What is Economics? Modelling and Methodology [Econometrics 1 -
              Intro]
            </td>
          </tr>
          <tr>
            <td class="border px-4">Day 1 下午</td>
            <td class="border">【助教】开营摸底笔试</td>
          </tr>

          <tr>
            <td class="border px-4">Day 2 上午</td>
            <td class="border">
              TMUA Introduction政治经济学基础 [Econometrics 2 - Causality]
            </td>
          </tr>
          <tr>
            <td class="border px-4">Day 2 下午</td>
            <td class="border">
              <p>【助教】TMUA Paper 1 练习⼀</p>
              <p>【助教】政治经济学阅读题</p>
            </td>
          </tr>

          <tr>
            <td class="border px-4">Day 3 上午</td>
            <td class="border">
              TMUA Paper 1 知识点串讲 [Econometrics 3 - OLS]
            </td>
          </tr>
          <tr>
            <td class="border px-4">Day 3 下午</td>
            <td class="border">
              <p>【助教】TMUA Paper 1 练习⼆</p>
              <p>【助教】政治经济学阅读题</p>
            </td>
          </tr>

          <tr>
            <td class="border px-4">Day 4 上午</td>
            <td class="border text-center" rowspan="6">
              TMUA逻辑与推理 - 政府政策与经济 - 计量经济学项⽬
            </td>
            <td class="border">
              TMUA Paper 2 Introduction公共政策与经济 [Econometrics 4 -
              Research]
            </td>
          </tr>
          <tr>
            <td class="border px-4">Day 4 下午</td>
            <td class="border">
              <p>【助教】TMUA Paper 2 练习⼀</p>
              <p>【助教】公共政策阅读题</p>
            </td>
          </tr>

          <tr>
            <td class="border px-4">Day 5 上午</td>
            <td class="border">
              TMUA Paper 2 知识点串讲 [Econometrics 5 - Project]
            </td>
          </tr>
          <tr>
            <td class="border px-4">Day 5 下午</td>
            <td class="border">【助教】TMUA模拟考试⼀</td>
          </tr>

          <tr>
            <td class="border px-4">Day 6 上午</td>
            <td class="border">TMUA模拟考试⼀讲解</td>
          </tr>
          <tr>
            <td class="border px-4">Day 6 下午</td>
            <td class="border">
              <p>【助教】TMUA综合计时练习</p>
              <p>【助教】[Metrics Project 1]</p>
            </td>
          </tr>

          <tr>
            <td class="border px-4">Day 7 上午</td>
            <td class="border text-center" rowspan="6">
              TMUA综合训练 - 宏观经济学 - 经济历史
            </td>
            <td class="border">TMUA练习讲解 Macroeconomic Models</td>
          </tr>
          <tr>
            <td class="border px-4">Day 7 下午</td>
            <td class="border">【助教】TMUA综合计时练习</td>
          </tr>

          <tr>
            <td class="border px-4">Day 8 上午</td>
            <td class="border">TMUA练习讲解 Cobb-Douglas Function</td>
          </tr>
          <tr>
            <td class="border px-4">Day 8 下午</td>
            <td class="border">【助教】TMUA综合计时练习</td>
          </tr>

          <tr>
            <td class="border px-4">Day 9 上午</td>
            <td class="border">TMUA练习讲解 Important Econ History Cases</td>
          </tr>
          <tr>
            <td class="border px-4">Day 9 下午</td>
            <td class="border">【助教】TMUA综合计时练习</td>
          </tr>

          <tr>
            <td class="border px-4">Day 10 上午</td>
            <td class="border text-center" rowspan="6">
              TMUA综合训练 - 微观经济学 - 计量经济学项⽬ - ⾏为经济学
            </td>
            <td class="border">TMUA练习讲解 Microeconomic Models</td>
          </tr>
          <tr>
            <td class="border px-4">Day 10 下午</td>
            <td class="border">【助教】TMUA模拟考试⼆</td>
          </tr>

          <tr>
            <td class="border px-4">Day 11 上午</td>
            <td class="border">TMUA模拟考试⼆讲解</td>
          </tr>
          <tr>
            <td class="border px-4">Day 11 下午</td>
            <td class="border">【助教】 [Metrics Project 2]</td>
          </tr>

          <tr>
            <td class="border px-4">Day 12 上午</td>
            <td class="border">计量经济学Project总结 ⾏为经济学与政策</td>
          </tr>
          <tr>
            <td class="border px-4">Day 12 下午</td>
            <td class="border">【助教】TMUA综合计时练习</td>
          </tr>

          <tr>
            <td class="border px-4">Day 13 上午</td>
            <td class="border text-center" rowspan="6">
              经济 批判性思维 - ⾯试准备
            </td>
            <td class="border">TMUA练习讲解 ⾯试准备⽅法论</td>
          </tr>
          <tr>
            <td class="border px-4">Day 13 下午</td>
            <td class="border">【助教】模拟⾯试练习⼀</td>
          </tr>

          <tr>
            <td class="border px-4">Day 14 上午</td>
            <td class="border">模拟⾯试⼀</td>
          </tr>
          <tr>
            <td class="border px-4">Day 14 下午</td>
            <td class="border">【助教】模拟⾯试练习⼆</td>
          </tr>

          <tr>
            <td class="border px-4">Day 15 上午</td>
            <td class="border">模拟⾯试⼆结营总结</td>
          </tr>
          <tr>
            <td class="border px-4">Day 15 下午</td>
            <td class="border">【助教】结营总结笔试</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="mb-2"><strong>课程亮点：</strong></p>
    <ul class="list-disc px-8">
      <li>
        夏校项⽬中特意加⼊了计量经济学的培训，为计量经济学基础知识的学习和计量经济学如何进⾏实验设计和实施的讲解。并设计了为期6⽇的独⽴计量经济项⽬。这样的安排不仅能提升申请竞争⼒，还能让学⽣有真实的数据处理经验，在⾯试中发挥更好。
      </li>
      <li>
        此外，在夏校的⼗五天中，会提供⼗个课题的⼗组课外阅读材料，和⼗五篇挑选过的经济学⼈⽂章资源。⼗个课题的阅读材料会循序渐进的帮助两组同学进⾏额外的知识点拓展，其内容如下：
        <ul class="list-[circle] px-8">
          <li>1. Markets and efficiency</li>
          <li>2. Public goods</li>
          <li>3. Externalities</li>
          <li>4. Market Power and Competition</li>
          <li>5. Information Asymmetry</li>
          <li>6. Equity and Redistribution</li>
          <li>7. Cost Benefit Analysis</li>
          <li>8. Taxation</li>
          <li>9. Trade policy</li>
          <li>10. Well-being and Behavioural Economics</li>
        </ul>
      </li>
    </ul>
  </section>
</div>
