<!-- contact-us.component.html -->
<xs-shared-bg-title [title]="title | translate" [bgUrl]="bgUrl">
</xs-shared-bg-title>
<div class="max-w-6xl mx-auto font-sans p-10 sm:flex sm:gap-10">
  <div class="flex-1/2 justify-center items-center pt-4">
    <p-toast class="w-full"/>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <div class="flex flex-col gap-2">
        <label for="name" class="block"><span class="text-red-500">*</span>Name</label>
        <input type="text" pInputText id="name" placeholder="Required" [ngClass]="{'ng-invalid ng-dirty': (contactForm.get('name')?.invalid && contactForm.get('name')?.touched)}" formControlName="name"/>
        @if (contactForm.get('name')?.invalid && contactForm.get('name')?.touched){
          <p-message severity="error" variant="simple" size="small">Name is required</p-message>
        }
      </div>

      <div class="flex flex-col gap-2">
        <label class="block">What do you want tuition for?</label>
        @for (subject of tuitionOptions; track subject) {
          <div class="flex items-center">
            <p-checkbox [inputId]="subject.name" [value]="subject.value" formControlName="subjects"></p-checkbox>
            <label [for]="subject.name" class="ml-2">{{ subject.name | translate }}</label>
          </div>
        }
      </div>

      <div class="flex flex-col gap-2">
        <label for="contactDetail" class="block"><span class="text-red-500">*</span>Contact Detail</label>
        <input type="text" pInputText id="contactDetail" placeholder="Required" [ngClass]="{'ng-invalid ng-dirty': (contactForm.get('contactDetail')?.invalid && contactForm.get('contactDetail')?.touched)}" formControlName="contactDetail"/>
        @if (contactForm.get('contactDetail')?.invalid && contactForm.get('contactDetail')?.touched){
          <p-message severity="error" variant="simple" size="small">Contact Detail is required</p-message>
        }
      </div>

      <div class="flex flex-col gap-2">
        <label for="message" class="block">Message</label>
        <textarea pTextarea id="message" rows="4" formControlName="message" class="resize-none"></textarea>
      </div>

      <p-button type="submit" label="Submit"/>
    </form>
  </div>
  <div class="flex-1 justify-center items-center pt-4">

    <p-message severity="info" size="large" text="联系客服微信"/>
    <img alt="wechat" src="/images/hills_wechat_qr.png" class="w-full"/>
    <div>电话：123456789</div>
    <div>邮箱：contact&#64;hillsedtech.com</div>
  </div>
</div>
