<section id="intro" class="relative w-full items-center justify-center bg-white h-[100vh]">
  <div class="pt-32 pb-16 flex items-center justify-center">
    <p-image src="/images/logo_chin.png" alt="logo"></p-image>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 max-w-7xl mx-auto py-16 px-4">
    @for(service of services; track service.title) {
      <p-card
        class="transform transition-all duration-300 block lg:flex min-w-full min-h-full hover:shadow-xl hover:bg-gray-100 hover:-translate-y-2"
        pAnimateOnScroll
        enterClass="animate-enter fade-in-10 slide-in-from-b-20 animate-duration-2000"
      >
        <ng-template #header>
          <img alt="Card" class="object-cover h-48 w-full" src="{{ service.image }}" />
        </ng-template>
        <ng-template #title>
          <div class="text-xl font-bold w-full justify-center text-center">{{ service.title |translate}}</div>
        </ng-template>
        <p class="text-gray-600 leading-relaxed justify-center text-center">{{ service.description! | translate}}</p>
      </p-card>

    }
  </div>
  <div class="h-32"></div>
</section>
