<div class="prose">
<h1 class="text-2xl font-bold mb-4">2025 OxBridge Preparation Camp</h1>
<section class="mb-6">
<h2 class="text-xl font-semibold mb-3">Training Camp Overview</h2>
<p>This training camp is designed to help students who are interested in applying to Oxford, Cambridge and Imperial College to learn efficiently and improve academic abilities. Through refined course arrangements and high-frequency testing, ensure that students can maximize their academic level and lay a solid foundation for future applications. All courses are taught in all English. The teachers are all OxBridge bachelor's master's degree (physics engineering group, biology group is OxBridge bachelor's master's degree). All teachers are selected with high standards: three years or more teaching experience, experience in successful OxBridge students, ability to independently write integrated knowledge lesson plans, teaching ability in English-language large classes, teaching with a certain sense of humor, clear logic, and strong sense of teaching interest and responsibility.</p>
</section>
<section class="mb-6">
<h2 class="text-xl font-semibold mb-3">Introduction to OxBridge Preparation Camp</h2>
<p>OxBridge Preparation Camp is designed for students who are interested in applying to Oxford, Cambridge, Imperial College or in the future who want to study related majors. The original intention of this course is to help students master key knowledge points in advance, lay the foundation for later adaptive training, and effectively help prepare for international competitions such as BPHO, AMC, NEC, UKCHO, etc.</p>
</section>
<section class="mb-6">
<h2 class="text-xl font-semibold mb-3">Adapt to crowds</h2>
<ul class="list-disc px-8">
<li>Students from the first to the second year of high school</li>
<li>Students who are interested in applying to Oxford, Cambridge, Imperial College, or who want to study related majors in the university</li>
</ul>
</section>
<section class="mb-6">
<h2 class="text-xl font-semibold mb-3">Course Schedule</h2>
<ul class="list-disc px-8">
<li>Class start time: 2025.7.9-2025.7.23</li>
<li>Morning: Systematic teaching (covering the key and difficult points of OxBridgebi interview)</li>
<li>Afternoon: Practice and Test</li>
<li>Camp completion test: Assessing student learning outcomes</li>
</ul>
</section>
<section class="mb-6">
<h2 class="text-xl font-semibold mb-3">Teaching content and objectives</h2>
<ul class="list-disc px-8">
<li>Detailed lectures on compulsory courses in textbooks to restore the essence of knowledge</li>
<li>Preliminary introduction to the competition course</li>
<li>Help students master core knowledge in advance and prepare for the future sprint of OxBridge</li>
<li>Through scientific planning, systematically complete learning goals in the next few months</li>
<li>Effectively help prepare for international competitions such as BPHO, AMC, NEC, UKCHO, etc.</li>
</ul>
</section>
<section class="mb-6">
<h2 class="text-xl font-semibold mb-3">Course content details</h2>
physics
<div class="mb-4">
<h3 class="text-l font-semibold mb-2">Science and Technology Materials</h3>
<table class="table-auto w-full border-1 border-collapse mb-3">
<thead class="border-1">
<tr>
<td class="border-1 px-4 text-center">Days</td>
<td class="border-1 text-center">theme</td>
<td class="border-1 text-center">Core knowledge points</td>
</tr>
</thead>
<tbody>
<tr>
<td class="border px-4">1</td>
<td class="border px-2">General</td>
<td class="border px-2">Physics and Dimensional Analysis</td>
</tr>
<tr>
<td class="border px-4">2</td>
<td class="border px-2">math</td>
<td class="border px-2">Mathematics in Engineering and Physics: Calculus*</td>
</tr>
<tr>
<td class="border px-4">3</td>
<td class="border px-2">math</td>
<td class="border px-2">Mathematics in Engineering and Physics: Vector Algebra* and Geometry</td>
</tr>
<tr>
<td class="border px-4">4</td>
<td class="border px-2">Kinematics</td>
<td class="border px-2">One-dimensional motion</td>
</tr>
<tr>
<td class="border px-4">5</td>
<td class="border px-2">Kinematics</td>
<td class="border px-2">Multidimensional motion and body casting motion</td>
</tr>
<tr>
<td class="border px-4">6</td>
<td class="border px-2">Kinematics</td>
<td class="border px-2">Circular motion*</td>
</tr>
<tr>
<td class="border px-4">7</td>
<td class="border px-2">Mechanics</td>
<td class="border px-2">Introduction to Newtonian Mechanics</td>
</tr>
<tr>
<td class="border px-4">8</td>
<td class="border px-2">Mechanics</td>
<td class="border px-2">Gravity and friction</td>
</tr>
<tr>
<td class="border px-4">9</td>
<td class="border px-2">Mechanics</td>
<td class="border px-2">Energy, the law of gravity*</td>
</tr>
<tr>
<td class="border px-4">10</td>
<td class="border px-2">Mechanics</td>
<td class="border px-2">gravitational field*</td>
</tr>
<tr>
<td class="border px-4">11</td>
<td class="border px-2">Mechanics</td>
<td class="border px-2">Spring and harmonic motion*</td>
</tr>
<tr>
<td class="border px-4">12</td>
<td class="border px-2">Mechanics</td>
<td class="border px-2">momentum</td>
</tr>
<tr>
<td class="border px-4">13</td>
<td class="border px-2">Mechanics</td>
<td class="border px-2">Advanced momentum and centroid*</td>
</tr>
<tr>
<td class="border px-4">14</td>
<td class="border px-2">Mechanics</td>
<td class="border px-2">Rigid body rotation I**</td>
</tr>
<tr>
<td class="border px-4">15</td>
<td class="border px-2">Mechanics</td>
<td class="border px-2">Rigid Body Rotation II**</td>
</tr>
</tbody>
</table>
<p class="mb-2"><strong>Notes:</strong></p>
<ul class="list-disc px-8">
<li>**Sign this content is not included in the A-Level/IB/AP syllabus, but may be
          Some mentions or hints during Oxbridge's ability test or interview</li>
<li>*Say that this content will be involved in Grade 13</li>
</ul>
</div>
<div class="mb-4">
<h3 class="text-l font-semibold mb-2">Things to note</h3>
<p class="mb-2">Basic math knowledge that students need to master before summer camp:</p>
<ul class="list-disc px-8">
<li>Calculus: Differential and Integral of Polynomials and Trigonometric Functions</li>
<li>Vector: vector addition, subtraction, dot product/cross product</li>
<li>Geometry: Measurement unit of circle and angle (degree and radian), angle representation in coordinate system</li>
<li>Trigonometry: sine theorem, cosine theorem, using triangular identity to calculate the area of ​​a triangle</li>
</ul>
</div>
<div class="mb-4">
<h3 class="text-l font-semibold mb-2">Recommended reading</h3>
<p>"Ohanian Physics" (Hans C. Ohanian), Vol. 2, W.W. Norton &amp; Company</p>
</div>
</section>
Chemistry Group
<section class="mb-6">
<div class="mb-4">
<h3 class="text-l font-semibold mb-2">Chemistry Group</h3>
<table class="table-auto w-full border-1 border-collapse mb-3">
<thead class="border-1">
<tr>
<td class="border-1 px-4 text-center">Days</td>
<td class="border-1 text-center">theme</td>
<td class="border-1 text-center">Core knowledge points</td>
</tr>
</thead>
<tbody>
<tr>
<td class="border px-4">1</td>
<td class="border px-2">General &amp; Inorganic Chemistry</td>
<td class="border px-2">The amount of matter (mole); atomic structure; electron structure</td>
</tr>
<tr>
<td class="border px-4">2</td>
<td class="border px-2">General &amp; Inorganic Chemistry</td>
<td class="border px-2">Chemical bonds; state of matter</td>
</tr>
<tr>
<td class="border px-4">3</td>
<td class="border px-2">Physics and Chemistry</td>
<td class="border px-2">Enthalpy and Entropy*</td>
</tr>
<tr>
<td class="border px-4">4</td>
<td class="border px-2">Inorganic chemistry</td>
<td class="border px-2">Lattice Energy and Thermodynamics (A2)*</td>
</tr>
<tr>
<td class="border px-4">5</td>
<td class="border px-2">Physics and Chemistry</td>
<td class="border px-2">Redox</td>
</tr>
<tr>
<td class="border px-4">6</td>
<td class="border px-2">Physics and Chemistry</td>
<td class="border px-2">Chemical equilibrium</td>
</tr>
<tr>
<td class="border px-4">7</td>
<td class="border px-2">Physics and Chemistry</td>
<td class="border px-2">Reaction kinetics</td>
</tr>
<tr>
<td class="border px-4">8</td>
<td class="border px-2">Inorganic chemistry</td>
<td class="border px-2">Periodicity*</td>
</tr>
<tr>
<td class="border px-4">9</td>
<td class="border px-2">Organic Chemistry</td>
<td class="border px-2">Basic introduction with olefins (Alkene)</td>
</tr>
<tr>
<td class="border px-4">10</td>
<td class="border px-2">Organic Chemistry</td>
<td class="border px-2">Halogenoalkane: Nucleophilic substitution and elimination reaction*</td>
</tr>
<tr>
<td class="border px-4">11</td>
<td class="border px-2">Organic Chemistry</td>
<td class="border px-2">Alcohol*</td>
</tr>
<tr>
<td class="border px-4">12</td>
<td class="border px-2">Organic Chemistry</td>
<td class="border px-2">Carbonyl compounds (Carbonyl compounds)*</td>
</tr>
<tr>
<td class="border px-4">13</td>
<td class="border px-2">Organic Chemistry</td>
<td class="border px-2">Benzene*</td>
</tr>
<tr>
<td class="border px-4">14</td>
<td class="border px-2">Inorganic chemistry</td>
<td class="border px-2">Acid-base chemistry (A2), associated with chemical equilibrium</td>
</tr>
<tr>
<td class="border px-4">15</td>
<td class="border px-2">Inorganic chemistry</td>
<td class="border px-2">Electrochemistry (A2), associated with redox</td>
</tr>
</tbody>
</table>
<p class="mb-2"><strong>Notes:</strong></p>
<ul class="list-disc px-8">
<li>Highlighted topics appear in both AS and A2 (IB Grade 1/2) courses.</li>
<li>"*" means that the content is not included in the IGCSE course or its difficulty is significantly increased.</li>
</ul>
<p class="mb-2"><strong>Course focus:</strong></p>
<ul class="list-disc px-8">
<li>Focus on learning periodicity of elements and establishing a comprehensive periodic table understanding</li>
<li>Basic reaction dynamics learning</li>
<li>Recommended reading: Keeler, J. and Wothers, P. (2009). Why chemical reactions
          happen》</li>
</ul>
</div>
</section>
biology
<section class="mb-6">
<div class="mb-4">
<h3 class="text-l font-semibold mb-2">Biome</h3>
<table class="table-auto w-full border-1 border-collapse mb-3">
<thead class="border-1">
<tr>
<td class="border-1 px-4 text-center">Days</td>
<td class="border-1 text-center">course</td>
<td class="border-1 text-center">content</td>
</tr>
</thead>
<tbody>
<tr>
<td class="border px-4">1</td>
<td class="border px-2">Cell division and gender determination (ESAT)</td>
<td class="border px-2">Mitotomy, meiosis</td>
</tr>
<tr>
<td class="border px-4">2</td>
<td class="border px-2">Cell division and gender determination (ESAT)</td>
<td class="border px-2">Sexual and asexual reproduction, gender decision</td>
</tr>
<tr>
<td class="border px-4">3</td>
<td class="border px-2">Cytology (ESAT)</td>
<td class="border px-2">Characteristics of organelles, prokaryotic and eukaryotic cells</td>
</tr>
<tr>
<td class="border px-4">4</td>
<td class="border px-2">Cell membrane substance (ESAT)</td>
<td class="border px-2">Mechanisms and examples of diffusion, osmosis, facilitation and active transport</td>
</tr>
<tr>
<td class="border px-4">5</td>
<td class="border px-2">DNA (ESAT)</td>
<td class="border px-2">DNA, protein synthesis, mutations</td>
</tr>
<tr>
<td class="border px-4">6</td>
<td class="border px-2">Enzyme Kinetics (ESAT)</td>
<td class="border px-2">The working principle of enzyme, the theory of enzymatic action, the effect of temperature and pH on enzymes</td>
</tr>
<tr>
<td class="border px-4">7</td>
<td class="border px-2">Genetics (ESAT)</td>
<td class="border px-2">Single gene genetic analysis</td>
</tr>
<tr>
<td class="border px-4">8</td>
<td class="border px-2">Variation (ESAT)</td>
<td class="border px-2">Natural selection and evolutionary mechanisms, sources of variation</td>
</tr>
<tr>
<td class="border px-4">9</td>
<td class="border px-2">Plant Science (ESAT)</td>
<td class="border px-2">The structure, moisture and organic matter transport of plants</td>
</tr>
<tr>
<td class="border px-4">10</td>
<td class="border px-2">Genetic Technology (ESAT)</td>
<td class="border px-2">Genetic engineering, stem cells, selective breeding</td>
</tr>
<tr>
<td class="border px-4">11</td>
<td class="border px-2">Animal Physiology 1 (ESAT)</td>
<td class="border px-2">Nervous system, digestive system, excretion system</td>
</tr>
<tr>
<td class="border px-4">12</td>
<td class="border px-2">Animal Physiology 2 (ESAT)</td>
<td class="border px-2">Homeostasis and hormone regulation</td>
</tr>
<tr>
<td class="border px-4">13</td>
<td class="border px-2">Animal Physiology 3 (ESAT)</td>
<td class="border px-2">Diseases and body defense, infectious and non-communicable diseases</td>
</tr>
<tr>
<td class="border px-4">14</td>
<td class="border px-2">Ecosystem (ESAT)</td>
<td class="border px-2">Organizational structure, material circulation and biodiversity in ecosystems</td>
</tr>
<tr>
<td class="border px-4">15</td>
<td class="border px-2">Metabolism (A2)</td>
<td class="border px-2">Cell respiration and photosynthesis</td>
</tr>
</tbody>
</table>
<p class="mb-2"><strong>illustrate:</strong></p>
<ul class="list-disc px-8">
<li>The syllabus is based primarily on ESAT courses, but starting with the basics, only a GCSE biology background is required.</li>
<li>Despite some of the contents seemingly intuitive, the difficulty of this course is still challenging for Grade 11 students.</li>
</ul>
</div>
</section>
math
<section class="mb-6">
<div class="mb-4">
<h3 class="text-l font-semibold mb-2">Mathematics Group</h3>
<table class="table-auto w-full border-1 border-collapse mb-3">
<thead class="border-1">
<tr>
<td class="border-1 px-4 text-center">Days</td>
<td class="border-1 text-center">theme</td>
<td class="border-1 text-center">Course content</td>
</tr>
</thead>
<tbody>
<tr>
<td class="border px-4">1</td>
<td class="border px-2">Algebra</td>
<td class="border px-2">Solutions to quadratic equations</td>
</tr>
<tr>
<td class="border px-4">2</td>
<td class="border px-2">Algebra</td>
<td class="border px-2">Introduction to Matrix*</td>
</tr>
<tr>
<td class="border px-4">3</td>
<td class="border px-2">Algebra</td>
<td class="border px-2">Properties of polynomials</td>
</tr>
<tr>
<td class="border px-4">4</td>
<td class="border px-2">Calculus</td>
<td class="border px-2">Calculus concept, differential and integral</td>
</tr>
<tr>
<td class="border px-4">5</td>
<td class="border px-2">Calculus</td>
<td class="border px-2">Properties of triangles and exponential functions*</td>
</tr>
<tr>
<td class="border px-4">6</td>
<td class="border px-2">Calculus</td>
<td class="border px-2">Introduction to differential equations*</td>
</tr>
<tr>
<td class="border px-4">7</td>
<td class="border px-2">geometry</td>
<td class="border px-2">Point multiplication, cross multiplication and geometric meaning*</td>
</tr>
<tr>
<td class="border px-4">8</td>
<td class="border px-2">geometry</td>
<td class="border px-2">Symmetry properties in Cartesian coordinate system</td>
</tr>
<tr>
<td class="border px-4">9</td>
<td class="border px-2">geometry</td>
<td class="border px-2">Volume and surface area of ​​a three-dimensional object</td>
</tr>
<tr>
<td class="border px-4">10</td>
<td class="border px-2">geometry</td>
<td class="border px-2">Basic function image drawing</td>
</tr>
<tr>
<td class="border px-4">11</td>
<td class="border px-2">Probability</td>
<td class="border px-2">Introduction to probability and statistics</td>
</tr>
<tr>
<td class="border px-4">12</td>
<td class="border px-2">Probability and combination</td>
<td class="border px-2">Combinational Application*</td>
</tr>
<tr>
<td class="border px-4">13</td>
<td class="border px-2">Key Topics</td>
<td class="border px-2">Inequality and image transformation</td>
</tr>
<tr>
<td class="border px-4">14</td>
<td class="border px-2">Key Topics</td>
<td class="border px-2">The sum of geometric series, arithmetic series and convergence**</td>
</tr>
<tr>
<td class="border px-4">15</td>
<td class="border px-2">Course Introduction</td>
<td class="border px-2">The connection between mathematics and related disciplines and university course prospects</td>
</tr>
</tbody>
</table>
<p class="mb-2"><strong>Notes:</strong></p>
<ul class="list-disc px-8">
<li>** Tags what is not in the AL/IB/AP syllabus. However, they are in the OxBridge written test or interview
          It may be mentioned in the trial.</li>
<li>* Tags what grade 13 will be exposed to.</li>
</ul>
<p class="mb-2"><strong>Course focus:</strong></p>
<ul class="list-disc px-8">
<li>This syllabus ensures that students do not miss any basic knowledge so that they can focus on subsequent advanced knowledge learning. They can continue reading college-level books if they wish, and students are encouraged to learn in advance to consolidate their current knowledge level.</li>
</ul>
</div>
</section>
economy
<section>
<div class="mb-4">
<h3 class="text-l font-semibold mb-2">Economic Group</h3>
<table class="table-auto w-full border border-collapse mb-3">
<thead class="border">
<tr>
<td class="border px-4 text-center">Dates</td>
<td class="border text-center">Course Objectives</td>
<td class="border text-center">Course content</td>
</tr>
</thead>
<tbody>
<tr>
<td class="border px-4">Day 1 AM</td>
<td class="border text-center" rowspan="6">Microeconomics-Basics</td>
<td class="border">【Teacher Assistant】Based and written test</td>
</tr>
<tr>
<td class="border px-4">Day 1 pm</td>
<td class="border">What is Economics? IB/AL Overview</td>
</tr>
<tr>
<td class="border px-4">Day 2 am</td>
<td class="border">【Teacher Assistant】Economic multiple-choice exercise</td>
</tr>
<tr>
<td class="border px-4">Day 2 pm</td>
<td class="border">Basic DS model, Price Mechanism, Equilibrium — Neoclassical
              Ideologies</td>
</tr>
<tr>
<td class="border px-4">Day 3 am</td>
<td class="border">【Teacher Assistant】Economic multiple-choice exercise</td>
</tr>
<tr>
<td class="border px-4">Day 3 pm</td>
<td class="border">PED, YED, XED — Implications</td>
</tr>
<tr>
<td class="border px-4">Day 4 AM</td>
<td class="border text-center" rowspan="6">Market failure and government intervention</td>
<td class="border">【Teacher Assistant】Case Analysis Question Exercise</td>
</tr>
<tr>
<td class="border px-4">Day 4 pm</td>
<td class="border">Externality, Public Goods, Tragedy of Common Land, Solutions</td>
</tr>
<tr>
<td class="border px-4">Day 5 AM</td>
<td class="border">【Teacher Assistant】Economic Mock Exam One</td>
</tr>
<tr>
<td class="border px-4">Day 5 pm</td>
<td class="border">A explanation of the mock exam</td>
</tr>
<tr>
<td class="border px-4">Day 6 am</td>
<td class="border">【Teacher Assistant】Short answering exercise</td>
</tr>
<tr>
<td class="border px-4">Day 6 pm</td>
<td class="border">Monopolies and Corresponding Topics</td>
</tr>
<tr>
<td class="border px-4">Day 7 AM</td>
<td class="border text-center" rowspan="6">Macroeconomics - Basics</td>
<td class="border">【Teacher Assistant】Practice of Policy Analysis Questions</td>
</tr>
<tr>
<td class="border px-4">Day 7 pm</td>
<td class="border">AS/AD, Three Macroeconomics Objectives</td>
</tr>
<tr>
<td class="border px-4">Day 8 am</td>
<td class="border">【Teacher Assistant】Short answering exercise</td>
</tr>
<tr>
<td class="border px-4">Day 8 pm</td>
<td class="border">Macroeconomics Models, Short Term and Long Term</td>
</tr>
<tr>
<td class="border px-4">Day 9 am</td>
<td class="border">【Teacher Assistant】Short answering exercise</td>
</tr>
<tr>
<td class="border px-4">Day 9 pm</td>
<td class="border">Banking System and Economic Crisis</td>
</tr>
<tr>
<td class="border px-4">Day 10 am</td>
<td class="border text-center" rowspan="6">Macroeconomics-Policy</td>
<td class="border">【Teacher Assistant】Economic Mock Exam II</td>
</tr>
<tr>
<td class="border px-4">Day 10 pm</td>
<td class="border">Fiscal Policy</td>
</tr>
<tr>
<td class="border px-4">Day 11 am</td>
<td class="border">【Teacher Assistant】Data Interpretation Question Exercise</td>
</tr>
<tr>
<td class="border px-4">Day 11 pm</td>
<td class="border">Monetary Policy, Central Bank</td>
</tr>
<tr>
<td class="border px-4">Day 12 am</td>
<td class="border">【Teacher Assistant】Big Thesis Question Exercises</td>
</tr>
<tr>
<td class="border px-4">Day 12 pm</td>
<td class="border">Exquisite lecture on economic papers</td>
</tr>
<tr>
<td class="border px-4">Day 13 am</td>
<td class="border text-center" rowspan="6">International Economics and Review</td>
<td class="border">【Teacher Assistant】Big Thesis Question Exercises</td>
</tr>
<tr>
<td class="border px-4">Day 13 pm</td>
<td class="border">International Trade, Global Trade Routes, Exchange Rate</td>
</tr>
<tr>
<td class="border px-4">Day 14 AM</td>
<td class="border">【Teacher Assistant】Economic Mock Exam Three</td>
</tr>
<tr>
<td class="border px-4">Day 14 pm</td>
<td class="border">Tariff, Non-Tariff Barriers</td>
</tr>
<tr>
<td class="border px-4">Day 15 AM</td>
<td class="border">【Teacher Assistant】Campaign completion summary written test</td>
</tr>
<tr>
<td class="border px-4">Day 15 pm</td>
<td class="border">Summary of written test explanation and conclusion</td>
</tr>
</tbody>
</table>
<p class="mb-2"><strong>Course Objectives:</strong></p>
<ul class="list-disc px-8">
<li>Abroad understanding of the inside and outside economics topics and find your own interests</li>
<li>Prepare for future application strategies</li>
<li>Cultivate economic interests and consolidate application intentions</li>
</ul>
<p class="mb-2"><strong>10 groups extracurricular reading materials:</strong></p>
<ul class="list-disc px-8">
<li>Markets and efficiency</li>
<li>Public goods</li>
<li>Externalities</li>
<li>Market Power and Competition</li>
<li>Information Asymmetry</li>
<li>Equity and Redistribration</li>
<li>Cost Benefit Analysis</li>
<li>Taxation</li>
<li>Trade policy</li>
<li>Well-being and Behavioral Economics</li>
</ul>
</div>
</section>
</div>
