<div class="card flex justify-center">
  <p-stepper [value]="currentStep" class="basis-[50rem]">
    <p-step-list>
      @for (question of questions; track question.id) {
        <p-step [value]="question.id">Question {{question.id}}</p-step>
      }
    </p-step-list>

    <p-step-panels>
      @for (question of questions; track question.id) {
        <p-step-panel [value]="question.id">
          <ng-template #content let-activateCallback="activateCallback">
            <xs-question-template
              [question]="question"
              [isFirst]="question.id === 1"
              [isLast]="question.id === questions.length"
            />

            <div class="flex pt-6" [ngClass]="{
                  'justify-end': question.id === 1,
                  'justify-between': question.id > 1,
                }">
              @if (question.id > 1) {
                <p-button
                  label="Back"
                  severity="secondary"
                  icon="pi pi-arrow-left"
                  (onClick)="activateCallback(question.id - 1)"
                />
              }

              @if (question.id < questions.length) {
                <p-button
                  label="Next"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  (onClick)="activateCallback(question.id + 1)"
                />
              }

              @if (question.id === questions.length) {
                <p-button
                  label="Submit"
                  icon="pi pi-check"
                  iconPos="right"
                  (onClick)="submit()"
                />
              }
            </div>
          </ng-template>
        </p-step-panel>
      }
    </p-step-panels>
  </p-stepper>
</div>
