<section
  id="{{ HEADER_SECTOR }}"
  class="fixed top-0 left-0 right-0 z-50 bg-transparent transition-all duration-300">
  <p-menubar [model]="items">
    <ng-template #start>
      <a routerLink="{{ MAIN_PAGE }}">
        <img src="/images/logo.png" class="h-[70px]" alt="Logo" />
      </a>
    </ng-template>
    <ng-template #item let-item let-root="root">
      <div class="p-4 hover:cursor-pointer relative flex items-center">
        @if (item.badge) {
          <div class="flex items-center relative">
            <i [class]="item.icon"></i>
            <span class="mx-1">{{ item.label | translate }}</span>
            <span class="absolute -top-2 -right-4 text-xs gradient-text rounded-badge">
              {{item.badge}}
            </span>
          </div>
        } @else {
          <i [class]="item.icon"></i>
          <span class="mx-1">{{ item.label | translate }}</span>
        }
      </div>
    </ng-template>
    <ng-template #end>
      <xs-shared-translate-button></xs-shared-translate-button>
    </ng-template>
  </p-menubar>
</section>
