<div class="hidden md:flex">
  <p class="px-4">{{ 'app.switch' | translate }}</p>
  <a
    (click)="selectLang(LANG_ZH_CN)"
    class="cursor-pointer"
    [style.text-decoration]="currentLang === LANG_ZH_CN ? 'underline' : 'none'"
    >简体中文</a
  >
  <p class="px-4">|</p>
  <a
    (click)="selectLang('en')"
    class="cursor-pointer"
    [style.text-decoration]="currentLang === LANG_EN ? 'underline' : 'none'"
    >English</a
  >
</div>

<!--Small Screen-->
<div class="md:hidden">
  <p-toggleswitch [(ngModel)]="isCurrentLangEn" (onChange)="changeLang()">
    <ng-template #handle>
      @if (currentLang === LANG_EN) {
        <img src="/icons/en.svg" class="h-[20px]" alt="English" />
      } @else {
        <img src="/icons/zh.svg" class="h-[20px]" alt="Chinese" />
      }
    </ng-template>
  </p-toggleswitch>
</div>
