<footer
  id="footer"
  class="bg-gray-100 text-gray-700 mt-12 border-t border-gray-300">
  <div
    class="max-w-7xl mx-auto px-4 py-10 grid grid-cols-1 md:grid-cols-2 gap-6">
    <div>
      <h2 class="text-lg font-semibold mb-2">{{ 'app.nav' | translate }}</h2>
      <ul class="space-y-1">
        <li>
          <a href="/" class="hover:underline">{{
            'header.home' | translate
          }}</a>
        </li>
        <li>
          <a href="/about-us" class="hover:underline">{{
            'header.aboutUs' | translate
          }}</a>
        </li>
        <li>
          <a href="/teachers" class="hover:underline">{{
            'header.teachers' | translate
          }}</a>
        </li>
        <li>
          <a href="/success-stories" class="hover:underline">{{
            'header.successStories' | translate
          }}</a>
        </li>
        <li>
          <a href="/contact-us" class="hover:underline">{{
            'header.contactUs' | translate
          }}</a>
        </li>
      </ul>
    </div>

    <div class="flex flex-col justify-center h-full">
      <h2 class="text-lg font-semibold mb-2">
        {{ 'header.contactUs' | translate }}
      </h2>
      <p class="text-sm">contact&#64;hillsedtech.com</p>
    </div>
  </div>

  <div class="border-t border-gray-300 py-4 text-center text-sm text-gray-500">
    © 2025 Hills Education & Technology. All Rights Reserved.
  </div>
</footer>
